*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color:rgb(4, 61, 49);
    background-size: 1918px 855;
    background-position-x: left;
    background-position-y: 100px;
    align-content: center;
}
nav{
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}
.menuH{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menuH > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menuH > li:hover{
    background-color: rgb(90, 24, 24);
}
.menuV{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menuH li:hover .menuV{
    display: block;
}
.menuV li:hover{
    background-color: black;
}
.menuV li a{
    display: block;
    color: white;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
}


.divFormulario{
    width: 20%;
    height: 60%;
    background: black;
    position: relative;
    left: 2%;
    border-radius: 10px;
}

.formulario{
    width: 100%;
    background: #24303c;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.titulos{
    text-align: center;
    margin-top: 5px;
    margin: 10px;
    color: white;
    font-family: 'calibri';
}

.controles{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #1489ff;
    font-family: 'calibri';
    font-size: 18px;
    text-align: center;
    color: white;
}









/* boton reguistrar */

.btoRegistrar{
    width: 45%;
    height: 50px;
    border-radius: 10px;
    background: #24303c;
}
.btnRegistrar{
    width: 100%;
    height: 100%;
    background: #1489ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 7px 13px 37px black;
}

.btnRegistrar:active{
    width: 100%;
    height: 100%;
    background: #1489ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    animation-name: animacionBotones;
    animation-duration: 100ms;
}
@keyframes animacionBotones {
    0%{
        width: 100%;
        height: 100%;}
    50%{ 
        width: 97%;
        height: 95%;
        position: relative;
        left: 1%;
        top: 1%;
    }
    100%{
        width: 95%;
        height: 90%;
        position: relative;
        left: 2%;
        top: 4%;
    }
    
}

.nuestroContactoXD{
    text-align: right;
    margin-top: 10px;
}

.nuestroContactoXD a{
    color: green;
    text-decoration: none;
}

.nuestroContactoXD a:hover{
    color: white;
    text-decoration: underline;
}













.divFormulario2{
    width: 30%;
    background: #24303c;
    position: relative;
    left: 25%;
    top:-350px;
    border-radius: 10px;
}

.formulario2{
    width: 100%;
    height: 100%;
    background: #24303c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 7px 13px 37px black;
}
.controle2{
    width: 100%;
    background: #24303c;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #1489ff;
    font-family: 'calibri';
    font-size: 18px;
    text-align: center;
    color: white;
}



.cabeza{
    width: 90%;
    color: white;
    background: #24303c;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 7px 13px 37px black;
    font-family: 'calibri';
    font-size: 18px;
}




/* boton Aceptar */



.botones2{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background: #1489ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 7px 13px 37px black;
}
.botones2:active{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background: #1489ff;
    color: white;
    font-size: 16px;
    animation-name: animacionBotones;
    animation-duration: 100ms;
}
::placeholder{
    color: white;
}




/* boton Borrar  */

.BtnBorar{
    width: 45%;
    height: 50px;
    border-radius: 10px;
    background: #24303c;
    position: relative;
    margin-left: auto;
    top: -50px;
}
.botonesBorar{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background: #1489ff;
    color: white;
    font-size: 16px;
    box-shadow: 7px 13px 37px black;
    cursor: pointer;
}
.botonesBorar:active{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background: #1489ff;
    color: white;
    font-size: 16px;
    box-shadow: 7px 13px 37px black;
    animation-name:animacionBotones;
    animation-duration: 100ms;
}







/* lista de materiales */

.lista{
    width: 40%;
    height: 400px;
    background: white;
    position: relative;
    left: 53%;
    top: -750px;
    border-radius: 10px;
    box-shadow: 7px 13px 37px black;
}
.lista h4{
    color: black;
    
}

.tabla{
    width: 90%;
    background: #24303c;
    position: relative;
    top: 10px;
    margin: auto;
    color:  white;
    font-family: 'calibri';
    border-radius: 5px;
}
.tabla td{
    text-align: center;
    background: gray;
    border: none;
    border-radius: 5px;
    padding: 4px;
}
.tabla th{
    text-align: center;
    border: 1px solid #1489ff;
    border-radius: 5px;
    padding: 5px;
}


.divFormulario3{
    background: #24303c;
    width: 30%;
    height: 425px;
    position: relative;
    top: -770px;
    left: 60%;
    border-radius: 10px;
}

.BtnAceptar{
    width: 45%;
    height: 50px;
    border-radius: 10px;
    background: #24303c;
}

.botonAceptar{
    width: 100%;
    height: 100%;
    background: #1489ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 7px 13px 37px black;
}

.botonAceptar:active{
    width: 100%;
    height: 100%;
    background: #1489ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    animation-name: animacionBotones;
    animation-duration: 100ms;
}

.Enviar{
    width: 45%;
    height: 50px;
    border-radius: 10px;
    background: #24303c;
    text-align: center;
}

.formulario3{
    display: flex;
}

.Enviary{
    width: 100%;
    height: 100%;
    background: #1489ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 7px 13px 37px black;
}

.Enviary:active{
    width: 100%;
    height: 100%;
    background: #1489ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    animation-name: animacionBotones;
    animation-duration: 100ms;
}

.Regresar{
    width: 45%;
    height: 50px;
    border-radius: 10px;
    background: #24303c;
    text-align: center;   
}

.Regresary{
    width: 100%;
    height: 100%;
    background: #1489ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 7px 13px 37px black;
}

.Regresary:active{
    width: 100%;
    height: 100%;
    background: #1489ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    animation-name: animacionBotones;
    animation-duration: 100ms;
}
.BotonesEn{

    align-content: center;
}
.BotonesEnvio{
    display: flex;
}
.Enviar{
    size: 10px;
    width: 10%;
}
.Regresar{
    justify-content: space-between;
    width: 10%;
}

.BtnReset{
    width: 45%;
    height: 50px;
    border-radius: 10px;
    background: #24303c;
    position: relative;
    top: -50px;
    left: 50%;
}

.botonReset{
    width: 100%;
    height: 100%;
    background: #1489ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 7px 13px 37px black;
}

.botonReset:active{
    width: 100%;
    height: 100%;
    background: #1489ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    animation-name: animacionBotones;
    animation-duration: 100ms;
}

.botonaceptar{
    background: #24303c;
    padding: 15px;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 16px;
}

.formQ{
    background: none;
    width: 100%;
    height: 550px;
}

.divVale{
    width: 19cm;
    font-size: 20px;
    background: white;
    margin: auto;
    position: relative;
    top: 50px;
    height: auto;
}


.tablaVale{
    width: 100%;
    border: 1px solid black;
}
.tablaVale th, td{
   border: 1px solid black;
   text-align: center;
   font-family: 'calibri';
   border-collapse: collapse;
}

.np{
    width: 2cm;
}

.materialSolicitado{
    width: 8.5cm;
}

.cantidad{
    width: 1.5cm;
}

.medidas{
    width: 1.5cm;
}

.reactivos{
    width: 4.5cm;
}



.divFecha{
    width: 195px;
    height: 18px;
}

.divFecha p{
    width: 3.5cm;
    position: relative;
    left: 62px;
    top: -24px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'calibri';
    text-align: center;
}
.divFecha h5{
    width: 1cm;
    font-family: 'calibri';
}


.divGrupo{
    width: 214px;
    position: relative;
    left: 200px;
    top: -17px;
    height: 19px;
}
.divGrupo p{
    width: 1cm;
    position: relative;
    left: 62px;
    top: -24px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'calibri';
    text-align: center;
}
.divGrupo h5{
    width: 1cm;
    font-family: 'calibri';
}

.divMateria{
    width: 345px;
    height: 19px;
    position: relative;
    top: -12px;
}
.divMateria input{
    width: 7cm;
    position: relative;
    left: 80px;
    top: -24px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'calibri';
}
.divMateria h5{
    width: 1.5cm;
    font-family: 'calibri';
}

.divDocente{
    width: 242px;
    position: relative;
    left: 350px;
    top: -30px;
    height: 19px;
}
.divDocente input{
    width: 4.5cm;
    position: relative;
    left: 70px;
    top: -24px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'calibri';
}
.divDocente h5{
    font-family: 'calibri';
}

.divNombrePractica{

    width: 365px;
    height: 18px;
    position: relative;
    top: -20px;
}
.divNombrePractica p{
    width: 4cm;
    position: relative;
    left: 138px;
    top: -24px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}
.divNombrePractica h5{
    font-family: 'calibri';
}
.h5Titulos{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'calibri';
}

.divDatos{
    width: 600px;
    position: relative;
    left: 50px;
}

.btnImprimir{
    position: relative;
    left: 15px;
    font-family: 'calibri';
    font-size: 15px;
}
@media print{
    @page{
        size: 148mm 210mm;
        margin: 0;
    }
}