p{
    text-align: center;
    font-size: 15px;
}

h2{
    text-align: center;
    font-size: 15px;
}


/*fecha*/

.divFecha{
    width: 180px;
    height: 35px;
}

.fecha{
    width: 60px;
    position: relative;
    top: 3px;
}

.inputFecha{
    width: 100px;
    position: relative;
    left: 65px;
    top: -32px;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
}




/*grupo*/

.divGrupo{
    width: 180px;
    height: 35px;
    position: relative;
    left: 170px;
    top: -50px;
}

.grupo{
    width: 60px;
    position: relative;
    top: 3px;
}

.inputGrupo{
    width: 100px;
    position: relative;
    left: 65px;
    top: -32px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}





/*grupo*/
.divEquipo{
    width: 190px;
    height: 35px;
    position:relative;
    left: 342px;
    top: -100px;
}

.equipo{
    width: 60px;
    position: relative;
    top: 3px;
}

.inputEquipo{
    width: 100px;
    position: relative;
    left: 65px;
    top: -32px;
    border: none;
    border-bottom: 1px solid black;
}


/*tabla*/


.divTabla{
    background: green;
    width: 706px;
    position: relative;
    top: -50px;
}
.tabla{
    border: 2px solid black;
    border-collapse: collapse;
}

.tabla th, .tabla td{
    border: 1mm solid  black;
}

